body {
  margin: 0;
}

header {
  background-color: #8ea6ae;
  padding: 2em;
  text-align: center;
}

main {
  text-align: center;
  min-height: 600px;
}

#bgouter {
  background-image: url("../imgs/dgbackground.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 700px;
  position: relative;

}

#bginner {
  background-color: #000000;
  opacity: .5;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 700px;
}

#aboutmetext {
  color: #f0fbff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  position: absolute;
  top: 33%;
  left: 22%;
}

#aboutmetext h1:hover {
  text-shadow: -2px 3px 0px rgba(2, 0, 0, 1);
}

#aboutmetext h3:hover {
  text-shadow: -2px 3px 0px rgba(2, 0, 0, 1);
}

#dg {
  margin: 0;
  padding: 0;
  font-size: 4em;
}

#boutme {
    font-size: 2em;
}

.thumbnail {
  float:left;
  padding: 1em;
}

.blogpost {
  float:left;
}

#belowheadertitle {
  padding: .5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}

#belowheader {
  text-align: left;
  padding-right: 2em;
  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: 2em;
  border: solid 2px #8ea6ae;
  border-radius: 1em;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 70%;
  min-height: 200px;
}

#belowheader h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

#belowheader h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

#belowheader h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700
}

#post p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400
}


footer {
  background-color: #8ea6ae;
  padding: 1em;
  text-align: right;
}

ul {
  padding: 0;
  margin-left: -100px;
}

#nav li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #effbff;
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
}

#nav li a:hover {
  color: #cad3d7;
  outline: solid 2px #cad3d7;
  text-decoration: none;
  padding: 1em;
}

.active {
  color: #cad3d7;
  outline: solid 2px #cad3d7;
  text-decoration: none;
  padding: 1em;
}

#logo {
  float: left;
  display: inline-block;
}

.logoimg {
  max-width: 100px;
  max-height: 48px;

}

#mainnav {
  display: inline-block;
}

#nav li {
  display: inline;
}

#footernav li {
  display: inline;
  color: #effbff;
  padding: .5em;
}

#footernav li a:hover {
  opacity: .5;
}





